* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primario: #070f2b;
  --color-secundario: #1b1a55;
  --color-terciario: #535c91;
  --color-cuaternario: #9290c3;
}
